<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>


        <ion-avatar>

          <ion-img [src]="this.img_BDZ"></ion-img>

        </ion-avatar>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="this.presentAsideMenu($event)">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Default Buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 10px;">

    <div>

      <ion-text color="secondary">
        <h1>Interpolation bindings </h1>
      </ion-text>


      <ion-text>
        <p style="font-weight: bold;">{{this.name}}</p>
      </ion-text>

      <ion-text>
        <p style="font-weight: bold;">{{(this.age + 10)/2}}</p>
      </ion-text>

      <ion-text>
        <p style="font-weight: bold;">{{this.single }}</p>
      </ion-text>

      <h1 style="color: blue;">Double Bindings</h1>

      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input [(ngModel)]="this.name_form" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input  type="email "[(ngModel)]="this.email_form"></ion-input>
      </ion-item>


      <p>{{this.name_form}}</p>
      <p>{{this.email_form}}</p>

      <ion-button expand="block" color="tertiary" 
      (click)="sendData()">send Data</ion-button>



    </div>

    <div>

      <ion-text color="secondary">
        <h1>Property bindings [property]="value"</h1>
      </ion-text>
      <ion-img [src]="this.img_BDZ" style="padding:5px">
      </ion-img>

    </div>


    <ion-button expand="block" color="tertiary" 
    (click)="this.catchEvent($event)">

      <ion-icon style="padding-right: 5px;" name="football-outline">
      </ion-icon>
      click
    </ion-button>

  </div>
</ion-content>