<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>


        <ion-avatar>
          
            <ion-img [src]="this.img_BDZ"></ion-img>
        
        </ion-avatar>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="secondary">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Default Buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 10px;">

    <div>

      <ion-text color="secondary">
        <h1>Interpolation bindings </h1>
      </ion-text>


      <ion-text>
        <p style="font-weight: bold;">{{this.name}}</p>
      </ion-text>

      <ion-text>
        <p style="font-weight: bold;">{{(this.age + 10)/2}}</p>
      </ion-text>

      <ion-text>
        <p style="font-weight: bold;">{{this.single }}</p>
      </ion-text>

    </div>

    <div>

      <ion-text color="secondary">
        <h1>Property bindings [property]="value"</h1>
      </ion-text>
      <ion-img [src]="this.img_BDZ" style="padding:5px">
      </ion-img>

    </div>

  </div>
</ion-content>