<ion-header [translucent]="true" >
  
  <ion-toolbar color="optional">
    <ion-buttons slot="start">
      <div style="zoom:2">
      <ion-icon name="dice-outline" ></ion-icon>
    </div>
    </ion-buttons>

    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding:10px">
  <ion-button color="primary" expand="block" 
  (click)="capturarClick()">Click</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Vegueta</ion-card-subtitle>
      <ion-card-title>Sajajin Price</ion-card-title>
    </ion-card-header>

    <img src="assets/img/vegeta.jpg" style="padding:5px">
  
    <ion-card-content>
      <p class="paragraph">
      Vegueta is a Sajajin prince to come to the earth to kill Goku, 
      But was
    </p>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <app-son></app-son>
  
</div>
</ion-content>
